.outerBox {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.all-text {
    -fx-text-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
}

.displayArea {
    -fx-background-color: #b2c1c2;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.optionsBar {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px
}

.subScene {
    -fx-text-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
}